.uploadButton {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteButton {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploadButton:hover {
  border-color: rgb(193, 23, 90);
  transition: 0.4ms;
}

.fileUpload {
  display: none;
}

.img {
  width: 35px;
}

.modalBody {
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 400px;
  border: 1px solid #046b00;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;

  > div {
    padding: 15px;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.myImg {
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modalContent,
.caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modalBody {
    width: 300px;
  }
}
