@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-FD-WOL.eot');
  src: url('shabnam/Shabnam-FD-WOL.eot?#iefix') format('embedded-opentype'),
  url('shabnam/Shabnam-FD-WOL.woff2') format('woff2'),
  url('shabnam/Shabnam-FD-WOL.woff') format('woff'),
  url('shabnam/Shabnam-FD-WOL.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-Bold-FD-WOL.eot');
  src: url('shabnam/Shabnam-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
  url('shabnam/Shabnam-Bold-FD-WOL.woff2') format('woff2'),
  url('shabnam/Shabnam-Bold-FD-WOL.woff') format('woff'),
  url('shabnam/Shabnam-Bold-FD-WOL.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-Thin-FD-WOL.eot');
  src: url('shabnam/Shabnam-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
  url('shabnam/Shabnam-Thin-FD-WOL.woff2') format('woff2'),
  url('shabnam/Shabnam-Thin-FD-WOL.woff') format('woff'),
  url('shabnam/Shabnam-Thin-FD-WOL.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-Light-FD-WOL.eot');
  src: url('shabnam/Shabnam-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
  url('shabnam/Shabnam-Light-FD-WOL.woff2') format('woff2'),
  url('shabnam/Shabnam-Light-FD-WOL.woff') format('woff'),
  url('shabnam/Shabnam-Light-FD-WOL.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-Medium-FD-WOL.eot');
  src: url('shabnam/Shabnam-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
  url('shabnam/Shabnam-Medium-FD-WOL.woff2') format('woff2'),
  url('shabnam/Shabnam-Medium-FD-WOL.woff') format('woff'),
  url('shabnam/Shabnam-Medium-FD-WOL.ttf') format('truetype');
  font-weight: 100;
}